body {
    color: #444;
    font-family: "Avenir Next", Nunito, "Open Sans", Futura, Arial, sans-serif;
    background: #eee;
    margin: 0;
}


a {
    color: #939;
}

a:visited {
    color: #c6c;
}

h1,
h2,
h3 {
    line-height: 1.2
}

div.header {
    font-size: 18px;
    font-weight: 400;
    background-color: #939;
    /* background-color: #f00; nur zum Testen */
    margin: 0px;
    padding: 10px;
}

div.header h1 {
    margin-left: 15px;
    margin-right: 15px;
}

nav {
    padding:;
}

.header-menu {
    clear: all;
    float: right;
    margin-top: -20px;
}

div.header a, div.header a:visited {
    color: #ddd;
    text-decoration: none;
}

div.header a:hover {
    color: #ddd;
    text-decoration: underline;
}

article {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
}


ul.pagination {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

ul.pagination > li {
    padding: 0 8px;
    display: inline-block;
}

div.footer {
    border-top: 1px solid;
    text-align: center;
    font-size: 0.8em;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
