<hr>
	<h4>Affiliate-Links</h4>
	<p>
		Wenn du bis hier gelesen hast, interessiert dich vielleicht eines dieser Bücher? Diese Webseite ist ein privates Projekt, für das ich kein Geld bekomme. Wenn du eines der folgenden Bücher über diese Links kaufst, unterstützt du damit den Betrieb dieser Website.
	</p>

	<ul>
		<li>Anja Steinhauer: <a href="https://amzn.to/2OfYZEo" target="_blank">Erste Hilfe – Die 100 häufigsten Fehler: Rechtschreibung, Grammatik & Co.</a></li>
		<li>Linda Strehl: <a href="https://amzn.to/2OdIkkW" target="_blank">Erste Hilfe – Grammatik: Die wichtigsten Regeln einfach und anschaulich erklärt</a></li>
		<li>Bettina Rakowitz: <a href="https://amzn.to/2QItmVH" target="_blank">Wir essen Opa. Schmökern, schmunzeln und verstehen: Rechtschreibung & Satzzeichen: Deutsche Grammatik anhand witziger Beispiele erklärt</a></li>
		<li>Steffi Staaden: <a href="https://amzn.to/2qwcoPP" target="_blank">Rechtschreibung und Zeichensetzung endlich beherrschen: Regeln und Übungen (Uni Tipps, Band 4400)</a></li>
	</ul>
