</article>
{{ block "footer" . }}
<div class="footer">
    {{/* Display links if available */}}
    {{ if .Site.Menus.footer }}
    <div class="footer-links">
        <ul>
        {{- range .Site.Menus.footer -}}
        {{ if eq (hasPrefix .URL "mailto:") true }}
            <li>
        <a href="{{ .URL }}">{{- .Name -}}</a>
            </li>
        {{ else }}
            <li>
        <a href="{{ .URL | relLangURL }}">{{- .Name -}}</a>
        {{- end -}}
            </li>
        {{ end }}
        </ul>
    </div>
    {{ end }}

    {{/* Display copyright if available */}}
    {{ if .Site.Copyright }}
    <div class="copyright">
        {{- .Site.Copyright -}}
    </div>
    {{ end }}
</div>
{{ end }}