{{ block "header" . }}

<div class="header">
    <h1>
        <a href="{{ .Site.BaseURL | relLangURL }}">{{- .Site.Title -}}</a>
    </h1>
    <nav>
        <div class="header-menu">
            {{- range .Site.Menus.main -}}
            {{ if eq (hasPrefix .URL "mailto:") true }}
            <a href="{{ .URL }}">{{- .Name -}}</a>
            {{ else }}
            &nbsp; <a href="{{ .URL | relLangURL }}">{{- .Name -}}</a> &nbsp;
            {{- end -}}
            {{ end }}
        </div>
    </nav>
</div>
{{ end }}
<article>
